---
setTimeout(()=>{	
	console.log(sessionCookie)
}, 5000)
const sessionCookie = Astro.cookies.get("session")
console.log(sessionCookie)
if(!sessionCookie){
	return Astro.redirect("/signin")
}
export const prerender = false
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
