---
import "../styles/global.css"
import "../styles/elements.css"
import "../styles/classes.css"
import App from "../components/App";
import { kv } from "../config/kv.connection";


const sessionCookie = Astro.cookies.get("session")?.value
if(sessionCookie){
	if (!await kv.get(sessionCookie)) {
        Astro.cookies.set("session", "nop", {
            httpOnly: true,
            expires: new Date("December 17, 1995 03:24:00"),
            path: "/",
        });
		return Astro.redirect("/signin")
    } 
} else {
	return Astro.redirect("/signin")
}
export const prerender = false
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>
			Touch Grass
		</title>
	</head>
	<body>
		<App client:load/>
		<footer>
			<ul class="flex justify-center">
				<li class="m-4">
					About Us
				</li>
				<li class="m-4">
					Privacy Policy
				</li>
			</ul>
			<p id="copyright" class="copyright justify-self-center">
				&copy;Touch Grass. All Rights Reserved.
			</p>
		</footer>
	</body>
</html>