---
import "../styles/global.css"
---



<body>
    <div id="signin-form">
        <form action = "/api/auth/authentication" method = "post">
            <label for="username">Username</label> <input name="uname" type= "text" /> 
            <label for="pwd">Password</label> <input name="pwd" type = "password"/>
            <button type = "submit"> Sign In </button>
        </form>
    </div>
    
</body>



