---
import "../styles/global.css"
import "../styles/elements.css"
import "../styles/classes.css"
import { kv } from "../config/kv.connection";

const sessionCookie = Astro.cookies.get("session")?.value;
if(sessionCookie){
    if (!await kv.get(sessionCookie)) {
        Astro.cookies.set("session", "nop", {
            httpOnly: true,
            expires: new Date("December 17, 1995 03:24:00"),
            path: "/",
        });
    } else return Astro.redirect("/")
}
export const prerender = false
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>
			Touch Grass
		</title>
	</head>
	<body>
        <div id="signin-form" class="w-full max-w-xs justify-self-center mt-20">
            <h1 class="text-center mb-4">
                Login to Touch Grass
            </h1>
            <form action = "/api/authentication" method = "post" class="whitebox mb-4">
                <button type = "submit">
                    Sign In Using Auth0
                </button>
            </form>
            <p class="copyright m-4 text-center">
                &copy;Touch Grass. All Rights Reserved.
            </p>
        </div>
        
    </body>
</html>